<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="injectedBean1" class="pl.oremczuk.springtutorial.InjectedBean">
	<property name="name" value="bean1"/>
	</bean>

	<bean id="injectedBean2" class="pl.oremczuk.springtutorial.InjectedBean" autowire-candidate="false">
	<property name="name" value="bean2"/>
	</bean>
	
	<bean id="someBean" class="pl.oremczuk.springtutorial.SomeBean" autowire="byName">
	<property name="injectedBean2" ref="injectedBean1" />
	</bean>

</beans>
