<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">

	<bean id="someBean" class="pl.oremczuk.springtutorial.SomeBean" scope="prototype" lazy-init="false"/>
	<bean id="someBean2" class="pl.oremczuk.springtutorial.SomeBean"/>
	<bean id="someBean3" class="pl.oremczuk.springtutorial.SomeBean" lazy-init="false"/>

</beans>
